<app-layout-header></app-layout-header>

<p style='padding: 10px; display: block; text-align: center; border-top: 1px solid #eee;'>
  Some elements on this page are wrapped using the &#x3C;qubit-angular /&#x3E; component.
  <button style='display: block; text-align: center; margin: auto;' onClick='unloadSmartserve()'>Stop experiences</button>
  <button style='display: block; text-align: center; margin: auto;' onClick='loadSmartserve()'>Start experiences</button>
</p>

<router-outlet></router-outlet>

<app-layout-footer></app-layout-footer>
